<form [formGroup]="invoiceForm" class="p-6 max-w-xl mx-auto bg-white rounded-lg shadow-md">
  <div formArrayName="items" class="space-y-4">
    @for (itemForm of items.controls; track itemForm; let i = $index) {
      <app-invoice-item-form [itemForm]="itemForm" (remove)="removeItem(i)"></app-invoice-item-form>
    }
  </div>

  <div class="flex justify-center mt-4 gap-2">
    <button
      type="button"
      (click)="addItem()"
      class="bg-gray-100 text-gray-700 font-medium py-2 px-4 rounded-md flex items-center space-x-2 border border-gray-300">
      <span class="text-lg">+</span>
      <span>Add Item</span>
    </button>

    <button
      type="button"
      (click)="onSubmit()"
      class="bg-black text-white font-medium py-2 px-6 rounded-md">
      Submit
    </button>
  </div>
</form>
